* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d192b;
    color: white;
    margin: 0;
}

header {
    background-color: #0d192b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #0d192b;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #c59d5f;
    text-decoration: none;
    margin: 0 15px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #0d192b;
    color: #c59d5f;
    border: 2px solid #c59d5f;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

/* For screens with a minimum width of 1440px (desktop) */
@media (min-width: 1440px) {
    .characters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .character-card {
        display: flex;
        background-color: #0d192b;
        padding: 10px;
        border-radius: 5px;
        flex: 1 1 calc(70% - 20px); /* Display two characters in one row */
        box-sizing: border-box;
        margin-bottom: 20px; /* Add margin to separate rows */
        height: 300px; /* Set a fixed height for character cards */
    }
}

/* For screens with a maximum width of 575px (mobile) */
@media (max-width: 575px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .characters {
        display: block;
    }

    .character-card {
        display: flex;
        background-color: #0d192b;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px; /* Add margin to separate character cards on mobile */
        height: auto; /* Remove fixed height for mobile */
    }
}

.character-img {
    max-width: 90%;
    height: 70%;
    border: 4px solid #c59d5f;
    border-radius: 10px;
}

.character-title {
    font-weight: bold;
    margin: 10px 0;
}

.character-category {
    font-style: italic;
}

.character-description {
    margin-top: 12px;
}